.header {
    padding-top: 28px;
    padding-bottom: 28px;
    background-color: #F7F7F7;
}

.logoWrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.navigation{
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    justify-self: center;
}

.headerlink:hover,
.headerlink:focus{
    color: #D84343;
}

.active{
    color: #D84343;
}